*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header {
    height: 700px;
    background: url(../img/header_bg.jpg)no-repeat center/cover;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; 
    padding: 0px 15px; 
}
.header-container{
    height: 700px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
h1{
    font-size: 70px;
 color: #404040;
}
.header-container h2{
    font-size: 50px;
    color: #70869d;
}
.main-container{
margin-top: 100px;
}
.main-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    display: flex;
    
}
.card{
    
    width: 255px;
}
.text{
    margin-left: 20px;
    padding-top:20px;
    width: 260px;
    line-height: 1.5;
}
.title{
    color: #1f3750;
    font-size: 18px;
}
.subtitle{
    color: #70869d;
    margin-bottom: 10px;
}
.buy{
    font-size: 16px;
    padding: 10px 50px;
    background: #eff1f4;
    color: #70869d;
}
.buy:hover{
    background: #0092b6;  
    color: #ffffff; 
}
.bottom-product{
    margin-top: 100px;
    display: flex;
    background: #f3f9ff;
    justify-content: space-between;
}
.secondary-product{
    width: 260px;
    height: 560px;
    padding: 50px 30px 0;
}
.secondary-product img{
    width: 100%;    
}
.article {
    margin: 0 0 35px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: #1f3750;

}
.bottom-product p{
    margin: 25px 0;
    color: #70869d;
    line-height: 1.5;
}
.link{
    color: #1f3750;
}
.last-container{
    margin-top: 50px;
    margin-bottom: 50px;

}
.last-container h2{
    text-align: center;
}
.distributions-container{
    margin-top: 50px;
    display: flex;
    text-shadow: none;
    justify-content: space-between;

}
.left-bar,.right-bar{
    line-height: 1.5;
    font-size: 20px;
 
}
.left-link,.right-link{
    color: #70869d;
}


.left-link:hover{
    color: #0092b6;
}
.right-link:hover{
    color: #0092b6;
}
a{
    text-decoration: none;
}
.footer{
    background: #f3f9ff;
}
.footer-text{
    color: #444444;
    font-size: 20px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.footer-nav{
    display: flex;
    margin-left: 30px;
    color: #7f8080;
}
li{
    list-style: none;
}
.nav-link{
    margin-left: 30px;
    color: #6d6d6d;
    font-size: 14px;
}
a:hover{
    color:#000;
}



  